<h1>Users edit</h1>

<% if @user.errors.any? %>
    <h2><%= pluralize(@user.errors.count, "error") %>エラーがあります。必須を埋めてください。</h2>
    <ul>
        <% @user.error.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>

<%= form_with model: @user do |f| %>

  <div class="field">
    <%= f.label :"User-image" %><br />
    <%= f.file_field :profile_image, accept: "image/jpeg" %>
  </div>

  <div class="field">
    <%= f.label :"User-name" %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :"User-id" %><br />
    <%= f.text_field :usernumber %>
  </div>

  <div class="field">
    <%= f.label :"Profile" %><br />
    <%= f.text_area :profile %>
  </div>

  <div class="field">
    <%= f.label :"Email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.submit "update" %>
  </div>
<% end %>