<% content_for :css do %>
  <%= stylesheet_link_tag 'homeindex' %>
<% end %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "menu.js" %>

<div class="users-box">
    <h2>Followers</h2>
    <div class="users1">
    <% if @users.present? %>
      <% @users.each do |user| %>
        <div class="useritem1">
          <%= link_to user_path(user), class:"link" do %>
          <div class="userimage">
          <%= attachment_image_tag user, :profile_image, fallback: "no-image.png", format: 'jpeg', size: "90x90", class:"profileimage" %>
          </div>
          <div id="username">
          <span><%= user.username %></span><br>
          <small>@<%= user.usernumber %></small>
          </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <span>Not follower</span>   
    <% end %>
    </div>
</div>