<h1>Edit</h1>

<%= form_with model: @game do |f| %>
    <%= f.label :image %>
    <%= f.file_field :game_image, accept: "image/jpeg" %>

    <%= f.label :title %>
    <%= f.text_field :gametitle %>

    <%= f.label :score %>
    <%= f.hidden_field :gamehard, id: "rating-value" %>
    <div class="main-rating">
      <div class="ratings mb-3">
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
      </div>
      <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>
    </div>

    <%= f.label :time %>
    <%= f.text_field :gametime %>

    <%= f.label :clear %>
    <%= f.text_area :gameclear %>

    <%= f.label :review %>
    <%= f.text_area :gamebody %>

    <%= f.submit "update" %>
<% end %>

<%= javascript_include_tag 'star.js' %>

<% content_for :css do %>
  <%= stylesheet_link_tag 'star' %>
<% end %>
