
<% if @game.errors.any? %>
    <h2><%= pluralize(@game.errors.count, "error") %>エラーがあります。必須を埋めてください。</h2>
    <ul>
        <% @game.error.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>


<%= form_with model: @game do |f| %>
    <%= f.label :image %>
    <%= f.file_field :game_image, accept: "image/jpeg" %>

    <%= f.label :title %>
    <%= f.text_field :gametitle %>

    <%= f.label :time %>
    <%= f.text_field :gametime %>

    <%= f.label :score %>
    <%= f.hidden_field :gamehard, id: "rating-value" %>
    <div class="main-rating">
      <div class="ratings mb-3">
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
      </div>
      <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>
    </div>


    <%= f.label :clear %>
    <%= f.text_area :gameclear %>

    <%= f.label :review %>
    <%= f.text_area :gamebody %>

    <%= f.submit "submit" %>
<% end %>


<%= javascript_include_tag 'star.js' %>
<%= javascript_include_tag "jquery.js" %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'star' %>
<% end %>