
<%= attachment_image_tag @game, :game_image, format: 'jpeg', size: "100x100" %>
<h3>title</h3>
<%= @game.gametitle %>

<h3>cleartime</h3>
<%= @game.gametime %>
<h3>clear level</h3>
<%= @game.gameclear %>

<h3>score</h3>
<div class="star-rating mb-2">
    <div class="star-rating-front" style="width: <%= @game.game_gamehard_percentage %>%">★★★★★</div>
    <div class="star-rating-back">★★★★★</div>
</div>

<h3>review</h3>
<%= simple_format @game.gamebody %>


<% if @game.user.id == current_user.id %>
    <%= link_to "Edit", edit_game_path(@game) %>
    <%= link_to "Delete", game_path(@game), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %>
<% end %>

<small>
    <%= link_to user_path(@game.user.id) do %>By_<%= @game.user.username %><% end %>
</small>



<%= javascript_include_tag 'star.js' %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'star' %>
<% end %>