<div class="search-box">

<% if @items.present? %>
  <% @items.each do |item| %>
  <div class="rakutenitem">
    <div>
    <%= link_to search_items_path(gameurl: item['mediumImageUrls'].first), id: item['mediumImageUrls'].first, class: 'search-link', data: { gameurl: item['mediumImageUrls'].first } do %>
    <%= image_tag item['mediumImageUrls'].first, class: 'search-result-image' %>
    <% end %></div>
    <div class="introduction">
    <%= truncate(item['itemName'], length: 25, omission: '…') %><br>
    </div>
  </div>
  <% end %>
<% end %>

</div>


<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "search.js" %>
<%= javascript_include_tag "menu.js" %>

<% content_for :css do %>
  <%= stylesheet_link_tag 'search' %>
<% end %>
