<div class="search-box">
  <%= form_with url: search_items_path, method: :get, local: true do |f| %>
    <div class="form-group">
      <%= f.text_field :keyword, class: "form-control" %>
      <%= f.submit 'Search', class: "form-control btn btn-success" %>
    </div>
  <% end %>
  <% if @items.present? %>
    <% @items.each do |item| %>
      <%= link_to new_game_path(image_id: item['mediumImageUrls'].first), id: item['mediumImageUrls'].first, class: 'search-link', data: { image_id: item['mediumImageUrls'].first } do %>
        <%= image_tag item['mediumImageUrls'].first, class: 'search-result-image' %>
      <% end %>
      <br>
      <%= item['itemName'] %><br>
      <br>
    <% end %>
  <% end %>
</div>


<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "search.js" %>
<%= javascript_include_tag "menu.js" %>

<% content_for :css do %>
  <%= stylesheet_link_tag 'search' %>
<% end %>
