<h1>AllGames</h1>

<% @newgames.each do |newgame| %>
<div>
    <%= link_to newgame_path(newgame) do %>
    <%= attachment_image_tag newgame, :game_image, fallback: "no-image.png", format: 'jpeg', size: "100x100" %>
    <% end %>
    <%= link_to newgame_path(newgame) do %><%= newgame.gametitle %><% end %>
    <%= link_to user_path(newgame.user.id) do %><%= newgame.user.username %><% end %>
    <small><%= newgame.created_at %></small>
</div>
<% end %>


<%= javascript_include_tag "menu.js" %>
<%= javascript_include_tag "jquery.js" %>